body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container,
.chat-container {
  width: 350px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: white;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat-container {
  display: none; /* hidden by default, shown when logged in */
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.logout-button {
  background-color: #ff6347;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.chat-messages {
  height: 300px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

.sent {
  text-align: right;
  margin-bottom: 10px;
}

.received {
  text-align: left;
  margin-bottom: 10px;
}

.chat-controls {
  display: flex;
  justify-content: space-between;
}

#message-input {
  width: 75%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

#send-button {
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd
